PORT=3000
MONGO_URI=mongodb+srv://usuario:password@cluster.mongodb.net/nombre_db
SESSION_SECRET=tu_secreto_aqui
CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret
